# Exclude build tools and configs
.babelrc
rollup.config.js
.eslintrc.json
/node_modules/

# Exclude unnecessary folders
/public/
/.github/

# Exclude tests and temporary files
/test/
*.log
*.temp.js

# Exclude source files if only compiled files are needed
/src/
*.map